
{{ dump()}}
<div id="layout" 
    data-template="{{ template }}" 
    data-username="{{ user ? user.username : null }}"
    {% if template == "Register" or template == "BoardForm" %}data-token="{{ token|json_encode }}"{% endif %}
    {% if template == "BoardForm" %}data-boarduuid="{{ boardUuid }}"{% endif %}>
    <div id="app">
        <app></app>
    </div>
</div>