{% extends 'base.html.twig' %}

{% block title %}{{ uuid }} Board!{% endblock %}

{% block body %}

{% include 'app/tanker.html.twig' with {'template': 'BoardShow'} %}

<div class="example-wrapper">
    <h1>4 - Welcome on {{ uuid }} Board!</h1>

    {% for item in items %}
        <li style="list-style: none;">
            <span>{{ item.date|date("d M H:m") }}</span>
            <img src="{{ item.icon }}" alt="" style="width:20px; height: 20px;">
            <a target="_blank" href="{{ item.url }}">{{ item.content }}</a>
        </li>
    {% endfor %}

</div>
{% endblock %}
