{% extends 'base.html.twig' %}

{% form_theme formBoard 'bootstrap_4_layout.html.twig' %}

{% block title %}New board{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}


{% block body %}
<div class="container_createboardform">
    <h1>3 - Page de création de Board!</h1>

    {{ form_start(formBoard) }}

        {{ form_row(formBoard.title, {'attr' : { 'placeholder' : 'Titre de la Board'}}) }}
        {{ form_row(formBoard.public)}}
        {{ form_row(formBoard.slug, {'attr' : { 'placeholder' : 'Domaine de la Board'}}) }}
        {{ form_row(formBoard.content, {'attr' : { 'placeholder' : 'Vos flux RSS'}}) }}
        
        <ul class="sources" data-prototype="{{ form_widget(formBoard.sources.vars.prototype)|e('html_attr') }}">
            {% for source in formBoard.sources %}
            <li>
                {{ form_widget(source.url, { 'attr': {'readonly':'readonly'} }) }}
            </li>
            {% endfor %}
        </ul>

        <ul class="tags" data-prototype="{{ form_widget(formBoard.tags.vars.prototype)|e('html_attr') }}">
            {% for tag in formBoard.tags %}
            <li>
                {{ form_widget(tag.label, { 'attr': {'readonly':'readonly'} }) }}
            </li>
            {% endfor %}
        </ul>
        
        <button type="submit" class="btn btn-success">
        {% if route == "board_edit" %}
        Editer la Board
        {% else %}
        Ajouter la Board
        {% endif %}
        </button>

    {{ form_end(formBoard) }}

    <a href="#" data-id="{{ board.id }}" id="delete_board" class="btn btn-danger">Delete Board</a>
    
</div>
{% endblock %}




{% block javascripts %}
<script>
    let deleteBtn = document.getElementById('delete_board');
    
    deleteBtn.addEventListener('click', e => {
        if(confirm('Are you sure to remove Board?')){
            const id = e.target.getAttribute('data-id');

            // Fetch request to the Backend:
            fetch(`/board/${id}/delete`, {
                method: 'DELETE'
            }).then(res => window.location.reload());
        }
    });
</script>
<script>
    var newSourcesUl;
    var exsSourcesList;
    var addSourceBtn = $('<button type="button" class="add_source_link">Add a Source</button>');
    var addSourceLi = $('<li></li>').append(addSourceBtn);
    
    var newTagsUl;
    var exsTagsList;
    var addTagBtn = $('<button type="button" class="add_tag_link">Add a Tag</button>');
    var addTagLi = $('<li></li>').append(addTagBtn);


    function pushDeleteBtn(elem, context) {
        var btnDelete = $('<button type="button">Delete this ' + context + '</button>');

        elem.append(btnDelete);

        btnDelete.on('click', function(e) {
            elem.remove();
        });
    }

    function addSourceForm(newSourcesUl, addSourceLi) {
        var prototype = newSourcesUl.data('prototype');
        var index = newSourcesUl.data('index');
        var newForm = prototype;

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        newForm = newForm.replace(/__name__/g, index);

        // increase the index with one for the next item
        newSourcesUl.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a Source" link li
        var $newFormLi = $('<li></li>').append(newForm);
        addSourceLi.before($newFormLi);

        // add a delete link to the new form
        pushDeleteBtn($newFormLi, 'source');
    }

    function addTagForm(newTagsUl, addTagLi) {
        var prototype = newTagsUl.data('prototype');
        var index = newTagsUl.data('index');
        var newForm = prototype;

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        newForm = newForm.replace(/__name__/g, index);

        // increase the index with one for the next item
        newTagsUl.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a Source" link li
        var $newFormLi = $('<li></li>').append(newForm);
        addTagLi.before($newFormLi);

        // add a delete link to the new form
        pushDeleteBtn($newFormLi, 'tag');
    }

    jQuery(document).ready(function() {
        newSourcesUl = $('ul.sources');
        newTagsUl = $('ul.tags');

        console.log(newTagsUl);

        // Push a "Delete" button for all new sources and new tags.
        newSourcesUl.find('li').each(function() {
            pushDeleteBtn($(this), 'source');
        });
        newTagsUl.find('li').each(function() {
            pushDeleteBtn($(this), 'tag');
        });

        // Push a global "Add a Source" and a "Add a Tag" button.
        newSourcesUl.append(addSourceLi);
        newTagsUl.append(addTagLi);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        newSourcesUl.data('index', newSourcesUl.find('input').length);
        newTagsUl.data('index', newTagsUl.find('input').length);

        addSourceBtn.on('click', function(e) {
            addSourceForm(newSourcesUl, addSourceLi);
        });
        addTagBtn.on('click', function(e) {
            addTagForm(newTagsUl, addTagLi);
        });
    });
</script>
{% endblock %}